<!DOCTYPE html>
<html>
    <head>
        <title>User Signup</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>User Signup</h1>

        <form method="post">
            <table>
                <tr>
                    <td><label for="username">Username</label></td>
                    <td><input type="text" name="username" value="{{user_name}}" /></td>
                    <td class="error">{{user_name_error}}</td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input type="password" name="password" value=""/></td>
                    <td class="error">{{password1_error}}</td>
                </tr>
                <tr>
                    <td><label for="vfypassword">Verify Password</label></td>
                    <td><input type="password" name="vfypassword" value=""/></td>
                    <td class="error">{{password2_error}}</td>
                </tr>
                <tr>
                    <td><label for="email">Email (Optional)</label></td>
                    <td><input type="text" name="email" value="{{email_address}}"/></td>
                    <td class="error">{{email_error}}</td>
                </tr>
            </table>
            <input type="submit" />
        </form>

    </body>
</html>