<!DOCTYPE html>
<html>
    <head>
        <title>User Signup</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>User Signup</h1>

        <form action="/hello" method="post">
            <label for="username">Username</label>
            <input id="username" type="text" name="username" />

            <label for="password">Password</label>
            <input id="password" type="password" name="password" />

            <label for="vfypassword">Verify Password</label>
            <input id="vfypassword" type="password" name="vfypassword" />

            <label for="email">Email (Optional)</label>
            <input id="email" type="text" name="email" />

            <input type="submit" />
        </form>

    </body>
</html>